@media screen and (min-width:960px){

  .title{
    margin-bottom:100px;
  }

.explain{
  margin-left:8%;
  margin-bottom:25px;
  font-size:18px;

}

.picture img{
  margin-left:5%;
  margin-bottom:5%;
  height:600px;
}
}

/* タブレット */
@media screen and (min-width:560px) and (max-width:959px){

  .title{
    margin-bottom:100px;
  }
  .explain{
    margin-left:8%;
    margin-bottom:20px;
    font-size:17px;
  }
  
  .picture img{
    width:80%;
    margin-left:5%;
    margin-bottom:5%;
}

/* スマホ */
@media screen and (max-width:559px){
  
  .title{
    margin-bottom:100px;
  }

  .explain{
    margin-left:8%;
    margin-bottom:20px;
    font-size:16px;
  }
  
  .picture img{
    width:80%;
    margin-left:5%;
    margin-bottom:5%;
  }
}

