/* パソコン用 */
@media(min-width:960px){
  div{
    font-size:14px;
    width:30%;
    border-style:solid;
    border-width:2px;
    border-color:#807BEE;
    padding:10px;
    margin:10px;
    border-radius:6px;
    color:red;
}
}

/* タブレット用 */
  div{
    font-size:12px;
    width:30%;
    border-style:solid;
    border-width:2px;
    border-color:#807BEE;
    padding:10px;
    margin:10px;
    border-radius:6px;
    color:blue;
  


/* スマホ用 */
@media(max-width:560px;){
div{
  font-size:11px;
  width:90%;
  text-align:center;
  border-style:solid;
  border-width:1.5px;
  border-color:#807BEE;
  padding:10px;
  margin:10px;
  border-radius:4px;
  color:yellow;
}

}

